## 서울시에서 공개한 코로나19 발생동향 분석
* http://www.seoul.go.kr/coronaV/coronaStatus.do

In [1]:
# 필요한 라이브러리를 불러옵니다.

import pandas as pd

In [2]:
# 크롤링으로 가져올 url 주소를 입력합니다.
url = "http://www.seoul.go.kr/coronaV/coronaStatus.do"
url

'http://www.seoul.go.kr/coronaV/coronaStatus.do'

In [3]:
"""
최근 확진자가 증가하면서 read_html 로 데이터를 불러올 때 3~5분 정도의 시간이 소요됩니다.
최대 10분까지 걸릴 수 있으며 오류 메시지가 표시되지 않는 한 데이터가 로드 될 때까지 기다려주세요! 
"""
table=pd.read_html(url)
len(table)

70

In [4]:
# 판다스의 read_html 을 통해 위 url에 있는 불러옵니다.
table[0]

   종로구   중구  용산구  성동구  광진구  동대문구  중랑구  성북구  강북구  도봉구  노원구  은평구 서대문구
0   98   74  165  169  149   220  217  369  162  243  346  290  169
1    0   +1   +1   +2   +1   +11   +4   +2    0   +3   +6   +4   +1
2  마포구  양천구  강서구  구로구  금천구  영등포구  동작구  관악구  서초구  강남구  송파구  강동구   기타
3  198  203  345  211  102   229  277  491  266  386  452  216  532
4   +3   +1   +7   +1   +2    +1   +1   +2   +4   +3   +4   +1   +8

In [5]:
# table 변수의 길이를 세어봅니다.
table[1]

     종로구   중구  용산구  성동구  광진구 동대문구
0     98   74  165  169  149  220
1      0   +1   +1   +2   +1  +11
2    중랑구  성북구  강북구  도봉구  노원구  은평구
3    217  369  162  243  346  290
4     +4   +2    0   +3   +6   +4
5   서대문구  마포구  양천구  강서구  구로구  금천구
6    169  198  203  345  211  102
7     +1   +3   +1   +7   +1   +2
8   영등포구  동작구  관악구  서초구  강남구  송파구
9    229  277  491  266  386  452
10    +1   +1   +2   +4   +3   +4
11   강동구   기타  NaN  NaN  NaN  NaN
12   216  532  NaN  NaN  NaN  NaN
13    +1   +8  NaN  NaN  NaN  NaN

In [6]:
table[2]

,소계,해외유입,동대문구 에이스희망케어센터 관련,성동구 금호노인 요양원 관련,노원구 재가요양 서비스 관련,강남구 헬스장 관련,송파구 잠언의료기,강남구 CJ텔레닉스 관련,강남구 역삼역 관련,성동구 시장 관련,...,서울음악교습 관련,강서구 가족 관련,강서구 보험회사 관련,강남구 럭키사우나 관련,영등포구 증권회사 관련,영등포구 가족 관련,송파구소재 건설현장,타 시·도 확진자 접촉자,기타,감염경로 조사중
0,6579,491,51,30,9,53,10,31,3,19,...,24,11,30,45,15,4,12,284,4338,1103

In [7]:
table[3]

        연번     환자     확진일  거주지     여행력                접촉력 퇴원현황
0     6579  28048  11.12.  타시도       -           감염경로 조사중  NaN
1     6578  28121  11.12.  은평구       -          기타 확진자 접촉  NaN
2     6577  28126  11.12.  은평구       -          기타 확진자 접촉  NaN
3     6576  28114  11.12.   중구       -           감염경로 조사중  NaN
4     6575  28113  11.12.  중랑구       -  동대문구 에이스희망케어센터 관련  NaN
...    ...    ...     ...  ...     ...                ...  ...
6574     5      9   1.31.  성북구       -              #5 접촉   퇴원
6575     4      7   1.30.  마포구  중국 우한시              해외 접촉   퇴원
6576     3      6   1.30.  종로구       -              #3 접촉   퇴원
6577     2      5   1.30.  중랑구  중국 우한시              해외 접촉   퇴원
6578     1      2   1.24.  강서구  중국 우한시              해외 접촉   퇴원

[6579 rows x 7 columns]

In [8]:
# read_html 은 사이트 내의 html 태그를 불러옵니다.

table = pd.read_html(url)

In [9]:
# table 변수 안에 있는 table 태그의 값을 하나씩 읽어보며 확진자 목록이 있는 테이블을 가져옵니다.
df=table[3]
df.shape

(6579, 7)

In [10]:
# 미리보기 합니다.
df.head()

     연번     환자     확진일  거주지 여행력                접촉력 퇴원현황
0  6579  28048  11.12.  타시도   -           감염경로 조사중  NaN
1  6578  28121  11.12.  은평구   -          기타 확진자 접촉  NaN
2  6577  28126  11.12.  은평구   -          기타 확진자 접촉  NaN
3  6576  28114  11.12.   중구   -           감염경로 조사중  NaN
4  6575  28113  11.12.  중랑구   -  동대문구 에이스희망케어센터 관련  NaN

In [20]:
# 마지막 확진일을 파일명에 써주기 위해 . 을 _ 로 변경합니다.
# 확장자와 구분이 쉽게 되도록 _ 로 변경합니다. 

last_day= df.iloc[0]['확진일']
last_day=last_day.replace('.',"_")
last_day

'11_12_'

In [12]:
# 파일명을 만들어 줍니다.
# file_name
file_name= f"seoul_covid19_{last_day}.csv" #WHY MUST PUT f in front?
file_name

'seoul_covid19_11_12_.csv'

In [13]:
# csv 파일로 저장합니다.
df.to_csv(file_name,index=False, encoding= "utf-8")

In [14]:
# 제대로 저장되었는지 확인합니다.
pd.read_csv(file_name)

        연번     환자     확진일  거주지     여행력                접촉력 퇴원현황
0     6579  28048  11.12.  타시도       -           감염경로 조사중  NaN
1     6578  28121  11.12.  은평구       -          기타 확진자 접촉  NaN
2     6577  28126  11.12.  은평구       -          기타 확진자 접촉  NaN
3     6576  28114  11.12.   중구       -           감염경로 조사중  NaN
4     6575  28113  11.12.  중랑구       -  동대문구 에이스희망케어센터 관련  NaN
...    ...    ...     ...  ...     ...                ...  ...
6574     5      9   1.31.  성북구       -              #5 접촉   퇴원
6575     4      7   1.30.  마포구  중국 우한시              해외 접촉   퇴원
6576     3      6   1.30.  종로구       -              #3 접촉   퇴원
6577     2      5   1.30.  중랑구  중국 우한시              해외 접촉   퇴원
6578     1      2   1.24.  강서구  중국 우한시              해외 접촉   퇴원

[6579 rows x 7 columns]